<mat-toolbar  color="primary">
  <div class="grid_container" gdGap="10px" gdAuto="row dense" gdAlignColumns="center center" gdColumns="3% 97%" gdAreas="app_icon app_description">
  <div gdArea="app_icon"><mat-icon class="app_icon" aria-hidden="false" aria-label="Application icon">comment</mat-icon></div>
  <div gdArea="app_description"><span>Live chat</span></div>    
  </div>
</mat-toolbar>
