<div class="container"  fxLayout="column">

<app-header class="header" fxFlex="0 0 auto" fxLayout="column"></app-header>

<div class="main"  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="1 1 auto">
 
   <router-outlet ></router-outlet>
 
</div>

<app-footer class="footer" fxFlex="0 0 auto"   fxLayout="column"></app-footer>

</div>