<div fxLayoutAlign="center center">
<mat-card [@error]="error=='error'?'error':(error=='success'?'success':'none')"  (@error.done)="errorAnimateDone( $event )"  color="accent" fxFlex="1 1 40"  class="example-card">
    <mat-card-header>
        
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    
    <mat-card-content  >
        
        <form  class="login" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
           
            <mat-form-field >
              <input type="text" name="username" formControlName="username" matInput placeholder="Username" [errorStateMatcher]="matcher">
              <mat-error *ngIf="loginForm.controls.username.hasError('required')" >
                     Name is required field.
              </mat-error>

              <mat-error *ngIf="loginForm.controls.username.hasError('minlength')" >
                Name must be atleast four characters long.
              </mat-error>
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

              <mat-form-field >
                <input type="password" name="password" formControlName="password" matInput placeholder="Password" [errorStateMatcher]="matcher">
                <mat-icon matSuffix>lock_open</mat-icon>
                <mat-error *ngIf="loginForm.controls.password.hasError('required')" >
                  Password is required field.
           </mat-error>

           <mat-error *ngIf="loginForm.controls.password.hasError('minLength')" >
             Password must be atleast four characters long.
           </mat-error>
              </mat-form-field>
           
          <mat-card-actions class="login_signup_actions">
              <button  type="submit" mat-raised-button color="primary">login</button>
          </mat-card-actions>
        </form>
    </mat-card-content>
    
  </mat-card>
</div>