/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container,.main
{
    height: 100%;
}

.mat-toolbar.mat-primary,.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary
{
    background: #6200ea;
}

.grid_container
{
    width: 100%;
}

.main
{
    background-image: url('assets/bg.jpeg');
    background-size: 100vw 100vh;
}